.Event-section {
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.add-event {
    display: flex;
    padding: 1rem;
}
.update-event {
    display: flex;
    padding: 1rem;
}
.delete-event {
    display: flex;
    padding: 1rem;
}

.event-header {
    width: 5px;
    height: 20px;
    background-color: aqua;
    margin-left: 8rem;
}
.add-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}
.update-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}
.delete-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}

.main {
    width: 100%;
    height: 200px;
    background-color: rgb(5, 103, 103);
}
.input-container {
    padding: 3rem;
}
.input-update-container {
    margin-left: 3rem;
}
.input-update-container input {
    margin-left: 3rem;
    margin-top: -2rem;
}
.input-container input {
   margin-left: 3rem;
}
.event-input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    /* box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff; */
    transition: 0.3s;
    width: 200px;
    height: 25px;
   }
   
   .event-input:focus {
    /* outline-color: #e8e8e8; */
    /* background: #e8e8e8; */
    /* box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff; */
    transition: 0.3s;
   }


   

   .event-btn, 
    .event-btn:focus {
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 0.7rem;
        /* background-color: #d9b411; */
        border: 2px solid rgb(0, 0, 0);
        /* border-bottom: 5px solid rgb(115, 114, 114); */
        /* box-shadow: 0px 1px 6px 0px rgb(163, 161, 172); */
        transform: translate(0, -3px);
        cursor: pointer;
        transition: 0.2s;
        transition-timing-function: linear;
        margin-left: 5rem;
        color: rgb(0, 0, 0);
}

.event-btn:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}


   

  .serch-container {
    padding: 2rem;
    margin-left: 4rem;
    display: flex;
  }


  .update-btn {
    margin-left: 80%;
    margin-top: 10px;
    
  }
  .update-btn button{
    background-color: rgb(6, 168, 46); z-index: 1;
  }
  .add-btn {
    margin-left: 80%;
    margin-top: 10px;
    
  }

  .serch-container button{
    background-color: rgb(0, 118, 139);
    width: 200px;
  }

  .delete-btn button{
    background-color: rgb(116, 3, 3); z-index: 1;
    color: #e8e8e8;
  }
  .delete-btn {
    margin-left: 80%;
    margin-top: 10px;
  }