.Event-section {
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.add-event {
    display: flex;
    padding: 1rem;
}
.update-event {
    display: flex;
    padding: 1rem;
}
.delete-event {
    display: flex;
    padding: 1rem;
}

.event-header {
    width: 5px;
    height: 20px;
    background-color: aqua;
    margin-left: 8rem;
}
.add-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}
.update-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}
.delete-event h3 {
    text-transform: uppercase;
    margin-left: 1rem;
}

.main {
    width: 100%;
    height: 200px;
    background-color: rgb(5, 103, 103);
}
.input-container {
    padding: 3rem;
}
.input-update-container {
    margin-left: 3rem;
}
.input-update-container input {
    margin-left: 3rem;
    margin-top: -2rem;
}
.input-container input {
   margin-left: 3rem;
}
.event-input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff;
    transition: 0.3s;
    width: 200px;
    height: 25px;
   }
   
   .event-input:focus {
    /* outline-color: #e8e8e8; */
    background: #e8e8e8;
    /* box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff; */
    transition: 0.3s;
   }
   .event-btn {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 10px;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    z-index: 1;
   }
   
   .event-btn:active {
    color: rgb(0, 0, 0);
    box-shadow: 0 0.2rem #131212;
    transform: translateY(0.2rem);
   }
   
   .event-btn:hover:not(:disabled) {
    background: lightcoral;
    color: rgb(0, 0, 0);
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   .event-btn:disabled {
    cursor: auto;
    color: rgb(61, 59, 59);
   }


   

  .serch-container {
    padding: 2rem;
    margin-left: 4rem;
    display: flex;
  }